@import "tailwindcss";
@plugin "daisyui";

:root {
  --primary: #000d2b;
  --secondary: #fdf6ea;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  color: var(--primary);
}
